:root {
  --color-black: #1c1c1c;
  --color-white: #fbf8f2;
}

@font-face {
  font-family: Misto;
  src: url(media/Misto.woff);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Butler-UltraLight;
  src: url(media/Butler-UltraLight.woff);
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url(media/Montserrat-VariableFont_wght.ttf);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-black);
}

h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
  font-weight: 100;
  color: var(--color-white);
  margin: 0;
}

h5 {
  font-family: Misto;
  font-weight: 100;
  font-size: 14;
  color: var(--color-white);
  margin: 0;
}

h4 {
  font-family: Misto;
  font-size: 5em;
  width: 100vh;
  margin-bottom: 2%;
  margin-top: 0;
  font-weight: normal;
}

h3 {
  color: var(--color-white);
  font-family: "Montserrat", sans-serif;
  font-size: 2.25em;
  font-weight: 100;
}

h2 {
  font-family: Butler-UltraLight;
  font-weight: 100;
  font-size: 7.5em;
  margin-top: 0;
  color: var(--color-white);
}

h1 {
  font-family: Butler-UltraLight;
  font-size: 12.5em;
  color: var(--color-white);
  font-weight: 100;
  text-align: center;
  line-height: 0.95em;
}

span {
  font-family: Misto;
  font-weight: 100;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0 8px 0;
  margin: 0 10% 0 10%;
  transform-origin: 0.5 0;
}

.headerDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.heroContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scrollDownContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.heroStar {
  display: inline-block;
  position: absolute;
  top: 13%;
  left: 33.25%;
}

article {
  padding: 0 10%;
}

.doubleStars {
  padding-top: 17.28vh;
  opacity: 0;
}

.h2Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.seperationContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 0 13% 0;
}

.firstText {
  color: var(--color-white);
  font-family: Butler-UltraLight;
  font-size: 4em;
  width: 70%;
  font-weight: 100;
}

.workEthicContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  width: 100%;
}

.secondText {
  padding: 10% 0;
  width: 90%;
  color: var(--color-white);
  font-size: 4em;
  font-family: Butler-UltraLight;
  font-weight: 100;
}

.worksContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-white);
  justify-content: space-between;
  border-bottom: 1px solid;
  border-color: var(--color-white);
  margin-bottom: 5%;
}

.details {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875em;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.numbering {
  font-family: Butler-UltraLight;
  font-size: 1.125em;
  padding-right: 7%;
  font-weight: 100;
}

.inputField {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  border-radius: 0;
  border: 1px solid;
  border-color: black;
  width: 40vw;
  background-color: var(--color-white);
  padding: 0.75% 0 0.75% 0.75%;
  margin: 1% 0 0 0;
}

.inputButton {
  border: 1px solid;
  border-radius: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-size: 1.25em;
  padding: 1.125%;
  background-color: black;
  color: white;
  border-color: black;
  margin: 1% 0 0 0;
}

label {
  font-family: Misto;
  font-size: 2.25em;
}

.submissionContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

section {
  background-color: var(--color-white);
  border-radius: 50px 50px 0 0;
  margin-top: 20%;
  padding: 0 10% 7% 10%;
}

.aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 5%;
  text-align: center;
  margin-bottom: 8%;
}

.aboutGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.aboutText {
  font-family: Butler-UltraLight;
  font-size: 2.5em;
  width: 85%;
  font-weight: 100;
}

form {
  grid-column-start: 1;
}

.twoStars {
  grid-column-start: 2;
}

.normalStar,
.mediumStar,
.bottomMediumStar,
.emoji {
  grid-column-start: 2;
  grid-row-start: 1;
}

.normalStar {
  padding-top: 20%;
}

.mediumStar {
  padding: 10% 0 0 10%;
}

.emoji {
  padding: 25% 0 0 25%;
}

.bottomMediumStar {
  padding: 75% 0 0 90%;
}

.underlineContainer {
  display: flex;
  justify-content: center;
}

.underline {
  background-color: var(--color-white);
  height: 0.5px;
  width: 80%;
}

.letterAnimation {
  display: inline-block; /*This is usually the cause for translation animations in js not working. you can only use animations on elements set to inline-block, so if it doesnt work, maybe try this out first*/
  font-family: Butler-Ultralight;
  font-weight: 100;
}

.anime {
  opacity: 0.1;
}

span {
  display: inline-block;
}

.heroStart {
  display: block;
}

.h2Word {
  opacity: 0;
  font-family: Butler-UltraLight;
  font-weight: 100;
}

.h2SpanWord {
  opacity: 0;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #555;
}

.openerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black);
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.audioButton1,
.audioButton2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 100;
  background-color: var(--color-white);
  border-radius: 0;
  padding: 10%;
  border: none;
}

.audioButton1 {
  margin-right: 10%;
}

.audioButton2 {
  margin-left: 10%;
}

aside {
  font-family: Butler-UltraLight;
  font-weight: 100;
  font-size: 1.5em;
  color: var(--color-white);
  width: 40%;
  text-align: center;
  padding-bottom: 2%;
}

.headphone {
  padding-bottom: 2%;
}

.line1,
.line2 {
  height: 0.5px;
  background-color: var(--color-white);
  width: 100%;
}

.line1 {
  margin-right: 1%;
  transform-origin: 100% 100%;
}

.line2 {
  margin-left: 1%;
  transform-origin: 0% 0%;
}
